lida
llmx
pydantic==2.4.2
uvicorn==0.23.2
typer==0.9.0
fastapi==0.103.2
python-multipart==0.0.6
scipy==1.10.0
numpy==1.24.0
pandas==2.1.1
matplotlib==3.8.0
altair==5.1.2
seaborn==0.12.0
plotly==5.17.0
plotnine==0.12.3
statsmodels==0.14.0
networkx==3.1
geopandas==0.14.0
matplotlib-venn==0.11.9
wordcloud==1.9.2
kaleido==0.2.1